<!--
 * @Author: your name
 * @Date: 2020-07-21 11:39:26
 * @LastEditTime: 2020-07-21 11:51:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \stage3\day06\lianxi01.html
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(var i=0;i<items.length;i++){ %>
        <li>
            <%= items[i] %>
        </li>
        <% } %>
    </ul>
</body>
</html>