<!--
 * @Author: your name
 * @Date: 2020-07-27 19:36:02
 * @LastEditTime: 2020-07-28 10:28:34
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \photod:\web2004\stage3\day10\views\register.ejs
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入css -->
    <link rel="stylesheet" href="./boot/css/bootstrap.css">
    <!-- 低于IE9处理 -->
    <!-- [if lt IE9] >
    <script src="./boot/js/html5shiv.min.js"></script>
    <script src="./boot/js/respond.min.js"></script>
    < ![endif] -->
</head>
<body>
    <form action="/register" method="POST">
        <p>用户名: <input type="text" name="username"></p>
        <p>密码: <input type="password" name="password"></p>
        <input type="submit" value="注册">
        <a href="/login">已有账号? 点击登录</a>
    </form>

    <!-- 引入js -->
    <script src="./boot/js/jquery-1.9.1.min.js"></script>
    <script src="./boot/js/bootstrap.js"></script>
</body>
</html>