<!--
 * @Author: your name
 * @Date: 2020-07-21 15:56:43
 * @LastEditTime: 2020-07-21 16:10:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \stage3\day06\views\show.ejs
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>视图模板引擎</h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <% for(var i=0;i<stus.length;i++){ %>
        <tr>
            <td><%= stus[i].id %></td>
            <td><%= stus[i].name %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>