<!--
 * @Author: your name
 * @Date: 2020-07-22 14:37:56
 * @LastEditTime: 2020-07-22 15:33:49
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \stage3\day07\views\form.ejs
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tijiao" method="POST">
        <p>
            姓名: <input type="text" name="sname">
            年龄: <input type="text" name="sage">
            <input type="submit">
        </p>
    </form>
</body>
</html>